body {
    background-color: #151618;
    background-image:url(pattern4x4.png);
}

@font-face {
font-family: "Press Gothic Regular";
src: url("PressGothic.otf") format("opentype");
}

@font-face {
font-family: "Nexa Light Regular";
src: url("Nexa_Light.otf") format("opentype");
}

@font-face {
font-family: "Open Sans Bold";
src: url("OpenSans_Bold.ttf") format("opentype");
}

.texta {
    border: 3px solid #f9f9f9;
    border-radius: 0px;
    background: #151618;
    width: 100%;
    height: 80px;
    margin-bottom: 48px;
    font-size: 32px;
    text-align: center;
    color: #f9f9f9;
    font-family: Press Gothic Regular;
    letter-spacing: 0.05em;
    
}

.textb {
    border: 3px solid #f9f9f9;
    border-radius: 0px;
    background: #151618;
    width: 100%;
    height: 80px;
    margin-bottom: 48px;
    font-size: 32px;
    text-align: center;
    color: #f9f9f9;
    font-family: Press Gothic Regular;
    letter-spacing: 0.05em;
   
}

.textc {
    border: 3px solid #f9f9f9;
    border-radius: 0px;
    background: #151618;
    width: 100%;
    height: 80px;
    margin-bottom: 48px;
    font-size: 32px;
    text-align: center;
    color: #f9f9f9;
    font-family: Press Gothic Regular;
    letter-spacing: 0.05em;
    
}

button.texta:hover {
    background: #f9f9f9;
    transition: all 0.8s ease 0s;
    color: #151618;
}

button.textb:hover {
    background: #f9f9f9;
    transition: all 0.8s ease 0s;
    color: #151618;
}

button.textc:hover {
    background: #f9f9f9;
    transition: all 0.8s ease 0s;
    color: #151618;
}

.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
}

.imga {
    border: 3px solid #f9f9f9;
    width: 100%;
    display: none;
}

.imgb {
    border: 3px solid #f9f9f9;
    display: none;
}

.box {
    background: #151618;
    color: #f9f9f9;

}

p {
    font-family: Nexa Light Regular;
    font-size: 16px;
    color: #f9f9f9;
    line-height: 187.5%;
    margin-top: 24px;
    margin-bottom: 12px;
    display: none;
}

.return {
    border: 3px solid #f9f9f9;
    background: #151618;
    width: 100%;
    font-size: 14px;
    color: #f9f9f9;
    font-family: Open Sans Bold;
    letter-spacing: 0.20em;
    display: none;
    padding-left: 8px;
}

button.return:hover {
    background: #f9f9f9;
    color: #151618;
    transition: all 0.5s ease 0s;
}

#buttons {
    margin-top: 336px;
}
